/*--- Font Families ---*/

@font-face {font-family: "LexendPeta-Regular"; src: url("fonts/LexendPeta-Regular.ttf"); }
@font-face {font-family: "Gayathri-Thin"; src: url("fonts/Gayathri-Thin.ttf"); }

body {
    margin: 0;
	padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.textBoxOne {
    background-color: #faf087;
    padding: 25px 0;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: 3px solid #fdf9cf;
    border-bottom: 2px solid #fbf4ab;
}

.textBoxOne h1 {
    font-family: LexendPeta-Regular;
    font-size: 32px;
    color: #6a2c70;
}

#contactMethods {
    font-family: Gayathri-Thin;
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-top: 17px;
}

#contactMethods li {
    display: inline-block;
    margin-right: 36px;
}

.findUs,
.callUs {
    color: #6a2c70;
}

.findUs a,
.callUs a {
    text-decoration: none !important;
    color: #6a2c70;
}

.findUs:hover,
.callUs:hover {
    color: #c3aac5;
    border-bottom: 3px solid #c3aac5;
    border-right: 3px solid #c3aac5;
    padding-right: 3px;
    transition-duration: 0.6s;
}

.findUs a:hover,
.callUs a:hover {
    color: #e1d4e2;
    transition-duration: 0.6s;
}

.findUs::after {
    content: url(img/googlemaps.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.callUs::after {
    content: url(img/phone.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    padding-right: 6px;
}

#parallaxOne {
    background-image: url(img/weddingSetUp_1.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textBoxTwo,
.textBoxThree {
    background-color: #faf087;
    padding: 50px 0;
    padding-left: 12px;
    outline: 3px solid #fdf9cf;
    border-top: 2px solid #fbf4ab;
    border-bottom: 2px solid #fbf4ab;
}

#parallaxTwo {
    background-image: url(img/weddingSetUp_2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#parallaxThree {
    background-image: url(img/weddingSetUp_3.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}